doctype html
html(lang="en")
  head
    title John Shea
    style
      include ./css/bootstrap-responsive.min.css

  body
    h1 John Shea - personal site
    h2 Check out some of my other projects
    a.btn.btnprimary(href='/math_blog') Math Blog
    a.button(href='/knitLatex') knitLatex
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    script
      include ./js/bootstrap.min.js
