doctype html
html(lang="en")
  head
    title John Shea
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      //- include ./css/bootstrap-responsive.min.css
      include ./css/bootstrap.min.css
      include ./css/my.css

  body
    .text-center.container-fluid
      h1 John Shea, Ed.D
      img.img-responsive(src='/img/john_shea.jpeg' width="200" height="200")
      p high school math teacher
      p adjunct college professor


      h2 My Projects
      p.text-xl-left
        a.btn.btn-primary(href='/math_blog' role="button") Math Blog
        p a site devoted to helping high school students succeed at mathematics

      p.text-xl-left
        a.btn.btn-primary(href='/knitLatex') knitLatex
        p 
          | a CRAN package to assist in creating latex tables and a few knitr
          | helper functions

      p.text-xl-left
        a.btn.btn-primary(href='https://www.npmjs.com/package/browserify-livescript'
          role="button") browserify-livescript
        p
          | an npm package to convert LiveScript files to javascript with
          | sourcemaps


    script
      include ./js/jquery-3.5.0.min.js
      include ./js/bootstrap.min.js
