doctype html
html(lang="en")
  head
    title John Shea

  body
    a(href='/math_blog') Math Blog
    a(href='/knitLatex') knitLatex
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
