doctype html
html(lang="en")
  head
    title John Shea
    style
      include ./css/bootstrap-responsive.min.css

  body
    h1 John Shea - personal site
      img(src='/img/john_shea.jpeg' width="200" height="200")
      p high school math teacher


    h2 Check out some of my other projects
    p
      a.btn.btn-info(href='/math_blog') Math Blog

    p
      a.btn.btn-info(href='/knitLatex') knitLatex

    script
      include ./js/bootstrap.min.js
