doctype html
html(lang="en")
  head
    title John Shea
    style
      include ./css/bootstrap-responsive.min.css

  body
    h1 John Shea - personal site
    h2 Check out some of my other projects
    p Math Blog
      a.btn.btn-info(href='/math_blog') Math Blog

    p knitLatex
      a.btn.btn-info(href='/knitLatex') knitLatex

    script
      include ./js/bootstrap.min.js
