doctype html
html(lang="en")
  head
    title John Shea
    style
      //- include ./css/bootstrap-responsive.min.css
      include ./css/bootstrap.min.css
      include ./css/my.css

  body
    .text-center.container-fluid
      h1 John Shea, Ed.D
      img(src='/img/john_shea.jpeg' width="200" height="200")
      p high school math teacher
      p adjunct college professor


      h2 Check out some of my projects
      p.text-xl-left
        a.btn.btn-primary(href='/math_blog' role="button") Math Blog
        p a site devoted to helping high school students succeed at mathematics

      p.text-xl-left
        a.btn.btn-primary(href='/knitLatex') knitLatex
        p 
          | a CRAN package to assist in creating latex tables and a few knitr
          | helper functions


    script
      include ./js/jquery-3.5.0.min.js
      include ./js/bootstrap.min.js
